.about{
    padding:60px 20px;

}

.about-container{
    max-width:1000px;
    margin:auto ;
    display:flex;
    align-items: center;
    gap:40px;
}

.about-text{
    flex:1;
}

.about-text h1{
    font-size :40px;
    margin-bottom:20px;
}

.about-text p {
    font-size:18px;
    margin-bottom:15px;
    line-height : 1.6;
    color: #555;
}

.about-button{
    padding:12px 28px;
    border:none;
    background: linear-gradient(135deg, rgb(255, 33, 33), rgb(255, 0, 0));
    color: white;
    font-size:15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.about-button:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.4);
}

.about-images{
    flex:1;
}
.about-images img{
    width:100%;
    border-radius: 10px;
}


